materialidad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:simpleType name="ASGType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Ambiental"/>
            <xs:enumeration value="Social"/>
            <xs:enumeration value="Gobernanza"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="empresa_sostenible">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stakeholders">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="stakeholder" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"/>
                                        <xs:element name="descripcion" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="temas_materiales">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tema_material" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"/>
                                        <xs:element name="descripcion" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                    <xs:attribute name="asg" type="ASGType" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>